<div>
    <div class="container">
        <div class="col-1">
            <app-slider (faderValueChanged)="onFaderChanged($event, 'Bass')" f_name="Bass"></app-slider>
        </div>
        <div class="col-2">
            <app-slider (faderValueChanged)="onFaderChanged($event, 'Mid')"  f_name="Mid"></app-slider>
        </div>
        <div class="col-3">
            <app-slider (faderValueChanged)="onFaderChanged($event, 'Tre')"  f_name="Tre"></app-slider>
        </div>
        <div class="col-4">
            <app-slider (faderValueChanged)="onFaderChanged($event, 'vol')"  f_name="Vol"></app-slider>
        </div>
    </div>
    <div class="media-footer">
        <mat-toolbar color="primary">
            <mat-toolbar-row class="media-action-bar">
                <button mat-button [disabled]="isFirstPlaying()" (click)="previous()">
                    <mat-icon mat-list-icon>skip_previous</mat-icon>
                </button>
                <button mat-button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">
                    <mat-icon mat-list-icon>play_circle_filled</mat-icon>
                </button>
                <button mat-button (click)="pause()" *ngIf="state?.playing">
                    <mat-icon mat-list-icon>pause</mat-icon>
                </button>
                <button mat-button [disabled]="isLastPlaying()" (click)="next()">
                    <mat-icon mat-list-icon>skip_next</mat-icon>
                </button>
                {{ state?.readableCurrentTime }}
                <mat-slider class="time-slider" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime"
                    (input)="onSliderChangeEnd($event)" [disabled]="state?.error || currentFile.index === undefined">
                </mat-slider>
                {{ state?.readableDuration }}
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</div>